@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

//common
$clr_fontBase: #605075;
$clr_btn: #E67773;



//header
$clr_headerTwitter: #1DA1F2;
$clr_headerFacebook: #4267B2;
$clr_headerFont: #F8F7F3;
$clr_headerBackground: #E5DECF;

//hero
$clr_heroFont: #FFF9ED;

//about
$clr_aboutFont: #64547B;
$clr_aboutBackground: #FFFCF5;


//access
$clr_accessBackground: #fff;
$clr_accessBox: #786A7D;

//sponsor
$clr_sponsorBackground: #FAEAE6;
$clr_sponsorFont: #64547B;

//staff
$clr_staffFont: #64547B;




